@font-face {
  font-family: 'Avenir';
  src: url("/avenir/AvenirNextLTPro-Regular.otf")format("opentype");
}

* {
  box-sizing: border-box;

  font-family: "Avenir", sans-serif;
  line-height: 1.5;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  color: #323232;
  background-color: rgba(0, 0, 0, 0.02);
}

a {
  color: #00B6A7;
}

.card {
  position: relative;
  width: 80%;
  max-width: 600px;

  padding: 30px;
  padding-top: 100px;
  background-color: white;
}

.card-shadow {
  border: 0px solid #DDDDDD;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.07);
}

.badge {
  position: absolute;

  left: 30%;
  transform: translateY(-50%);

  margin-top: -75px;
}

h1 {
  text-align: center;

  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 18px;
}

#facebook {
  box-sizing: border-box;
  display: block;
  margin: auto;
  padding: 10px 16px;

  text-align: center;

  cursor: pointer;
  color: white;
  background-color: #4469B3;
  border-radius: 5px;
  border-bottom: 4px solid #45619E;
}

#facebook:hover {
  opacity: 0.98;
}

#facebook:active {
  padding: 9px 16px;
  border-bottom-width: 2px;
  border-top: 4px solid #45619E;
}